@import url('reset.css');

body {
    background-color: #F2EFEB;
    font-family: 'Noto Sans TC';
    line-height: 1.5;
    letter-spacing: 1.5px;
}

/* ---------- nav ---------- */

.nav_inside ul li:nth-child(4) a {
    font-weight: 700;
}

/* ---------- main_inside ---------- */

.main_inside {
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.img_left {
    display: flex;
}

.img_left img {
    display: block;
    width: 87.5%;
    order: 2;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 12.5%;
    order: 1;
    flex-shrink: 0;
}

.thumbnail a {
    display: inline-block;
    background-color: #F2EFEB;
    margin-right: 10px;
    margin-bottom: 10px;
}

.thumbnail a img {
    display: block;
    width: 100%;
    opacity: 60%;
}

.thumbnail a img:hover {
    opacity: 80%;
}

.thumbnail a:nth-child(1) img {
    opacity: 100%;
}

.img_content {
    box-sizing: border-box;
    padding: 0 20px;
    flex-shrink: 0;
}

.img_content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #3D403A;
}

.img_content p:nth-child(2) {
    color: #888C81;
    margin: 10px 0;
}

.img_content p:nth-child(3) {
    color: #3D403A;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0;
}

.img_content select {
    background-color: #D9C9BA;
    margin: 10px 0;
    padding: 10px;
    border: none;
    width: 47.5%;
}

.img_content select:focus {
    outline: none;
}

.img_content a {
    display: inline-block;
    text-decoration: none;
    color: #F2EFEB;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 13.5px;
    text-align: center;
}

.img_content a:nth-child(12) {
    background-color: #3D403A;
    width: 47.5%;
    margin-right: 14.5px;
}

.img_content a:nth-child(12):hover {
    color: #888C81;
}

.img_content a:nth-child(13) {
    background-color: #888C81;
    width: 47.5%;
}

.img_content a:nth-child(13):hover {
    color: #3D403A;
}

/* ---------- article ---------- */

article {
    width: 60.5%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    color: #3D403A;
}

article img {
    display: block;
    width: 100%;
    margin: 40px 0;
}

article p {
    display: inline-block;
    text-align: justify;
}

section {
    display: inline-block;
    background-color: #888C81;
    color: #F2EFEB;
    padding: 10px 20px;
    margin: 60px 0 120px;
    font-size: 15.5px;
}

section a {
    color: #F2EFEB;
    font-size: 15.5px;
}

section i {
    margin: 0 5px;
}

section i:hover {
    color: #3D403A;
}

/* ---------- rwd ---------- */

@media screen and (max-width: 414px) {

    .main_inside {
        flex-wrap: wrap;
    }

    .img_left {
        display: flex;
        flex-wrap: wrap;
    }

    .img_left img {
        display: block;
        width: 100%;
        order: 1;
    }

    .thumbnail {
        display: flex;
        flex-direction: row;
        width: 50%;
        order: 2;
    }

    .thumbnail a {
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .img_content {
        margin-top: 10px;
        width: 100%;
        padding: 0;
        flex-shrink: 1;
    }

    .img_content h3 {
        font-size: 28.25px;
    }

    .img_content p:nth-child(3) {
        font-size: 30px;
    }

    .img_content select {
        width: 100%;
        padding: 12.5px;
    }

    .img_content a:nth-child(12) {
        width: 100%;
        margin-right: 0;
    }

    .img_content a:nth-child(13) {
        width: 100%;
    }

    article {
        width: 100%;
        letter-spacing: 0;
    }

    section {
        display: inline-block;
        color: #F2EFEB;
        padding: 10px 20px;
        margin: 40px 0 100px;
    }

}