@import url('reset.css');

.wrapper {
    background-color: #F2EFEB;
    max-width: 100%;
    margin: 0 auto;
}

/* ----------login---------- */

.login_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 64, 58, 0.75);
    z-index: 4;
    display: none;
}

.login {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login_form {
    background-color: #F2EFEB;
    display: inline-block;
    padding: 50px;
    position: relative;
}

.login_form i {
    color: #888C81;
    position: absolute;
    z-index: 5;
    font-size: 13.5px;
}

.login_form .fa-xmark {
    color: #3D403A;
    font-size: 18.5px;
    top: 20.5px;
    right: 20.5px;
    cursor: pointer;
}

.login_form .fa-user {
    top: 205px;
    left: 63.5px;
}

.login_form .fa-lock {
    top: 260px;
    left: 63.5px;
}

.login_form .fa-google {
    color: #F2EFEB;
    top: 76.5px;
    left: 63.5px;
}

.login_form .fa-facebook {
    color: #F2EFEB;
    top: 130.5px;
    left: 63.5px;
}

.login_form input {
    background-color: #D9C9BA;
    margin: 5px 0;
    padding: 15px;
    padding-left: 36.5px;
    width: 230px;
    box-sizing: border-box;
    border: none;
    font-size: 13.5px;
}

.login_form input:focus {
    outline: none;
}

.login_form [type="submit"] {
    background-color: #3D403A;
    color: #F2EFEB;
    width: 115px;
    letter-spacing: 0.5px;
    padding-left: 10px;
    padding: 13.5px;
}

.login_form [type="submit"]:hover {
    color: #888C81;
}

.login_form a {
    text-decoration: none;
    color: #3D403A;
    font-size: 13.5px;
    display: inline-block;
    position: relative;
    margin: 5px 0;
    padding: 10px;
}

.login_form a:hover {
    color: #888C81;
}

.login_form a:nth-child(13)::before {
    content: "";
    display: block;
    background-color: #3D403A;
    width: 1.25px;
    height: 15px;
    position: absolute;
    top: 12.5px;
    left: 81.75px;
}

.login_form .community {
    display: block;
    width: 230px;
    padding-left: 36.5px;
    box-sizing: border-box;
    font-size: 13.5px;
    color: #F2EFEB;
    margin: 9.5px 0;
    padding: 12.35px;
}

.login_form .community:nth-of-type(1) {
    background-color: #DD4B39;
}

.login_form .community:nth-of-type(2) {
    background-color: #3C5998;
    margin-bottom: 15px;
}

/* ----------nav---------- */

nav {
    background-color: #F2EFEB;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav_inside {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    height: 80px;
    margin: 20px;
}

.nav_inside ul {
    display: flex;
}

.nav_inside ul li {
    text-align: center;
    position: relative;
    margin: auto;
}

.nav_inside ul li:last-child {
    display: none;
}

.nav_inside ul li:before {
    content: "";
    display: block;
    background-color: #3D403A;
    width: 1px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav_inside ul li:nth-last-child(1)::before {
    display: none;
}

.nav_inside ul li:nth-last-child(2)::before {
    display: none;
}

.nav_inside ul li a {
    display: block;
    color: #3D403A;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    margin: 0 20px;
}

.nav_inside ul li a:hover {
    color: #888C81;
}

.nav_mobile {
    display: none;
}

/* ----------breadcrumb---------- */

.breadcrumb {
    padding: 10px 40px;
    font-size: 15px;
    color: #888C81;
}

.breadcrumb a {
    text-decoration: none;
    color: #888C81;
    opacity: .5;
}

.breadcrumb a:hover {
    opacity: .75;
}

.breadcrumb a:last-of-type {
    font-weight: 700;
}

.breadcrumb i {
    font-size: 15px;
    -webkit-text-stroke: .25px #F2EFEB;
    opacity: .5;
}

/* ----------caption---------- */

.caption {
    color: #3D403A;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    padding: 40px;
}

.caption:before {
    content: "";
    display: block;
    background-color: #3D403A;
    width: 2.5px;
    height: 35px;
    position: absolute;
    top: 47.5px;
    left: 20px;
}

/* ----------header---------- */

header {
    background-image: url(../image/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: image 20s ease-in-out infinite;
}

@keyframes image {
    0% {
        background-image: url(../image/01.jpg);
    }

    20% {
        background-image: url(../image/02.jpg);
    }

    40% {
        background-image: url(../image/03.jpg);
    }

    60% {
        background-image: url(../image/04.jpg);
    }

    80% {
        background-image: url(../image/05.jpg);
    }

    100% {
        background-image: url(../image/01.jpg);
    }
}

.title h1 {
    font-family: 'Noto Sans TC';
    font-size: 150px;
    text-align: center;
    letter-spacing: 5px;
    -webkit-text-stroke: 1.25px #F2EFEB;
    -webkit-text-fill-color: transparent;
    padding-top: 350px;
}

.out_block{
    margin-top: 125px;
}

.main_block {
    max-width: 1100px;
    margin: 0 auto;
}

/* ----------footer---------- */

footer {
    background-color: #3D403A;
    width: 100%;
}

.footer_both {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 0;
}

.footer_left ul {
    display: flex;
    padding: 20px;
}

.footer_left li {
    margin-right: 20px;
}

.footer_left a {
    color: #F2EFEB;
    text-decoration: none;
}

.footer_left a:hover {
    color: #888C81;
    text-decoration: none;
}

.footer_left i {
    font-size: 20px;
}

.info {
    color: #F2EFEB;
    line-height: 1.75;
    padding: 20px;
}

.info p:nth-child(1),
p:nth-child(5) {
    font-weight: 700;
}

.footer_right {
    border-left: 1px solid #F2EFEB;
    display: flex;
    padding: 20px 0;
    padding-left: 120px;
    line-height: 2;
}

.footer_right a {
    color: #F2EFEB;
    text-decoration: none;
    display: block;
    padding-bottom: 15px;
    margin: 0 22.5px;
    width: 75px;
}

.footer_right a:hover {
    color: #888C81;
}

/* ---------- rwd ---------- */

@media screen and (max-width: 414px) {

    .wrapper {
        width: auto;
    }

    .breadcrumb {
        padding: 10px 20px;
    }

    .main_block {
        width: auto;
    }

    .nav_inside ul li {
        display: none;
    }

    .nav_inside ul li:last-child {
        display: block;
    }

    .nav_inside ul li a {
        font-size: 20px;
    }

    .nav_mobile {
        width: 100%;
        background-color: #F2EFEB;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 125px;
        right: 0;
        display: none;
    }

    .active .nav_mobile {
        display: block;
    }

    .nav_mobile a {
        color: #3D403A;
        text-decoration: none;
        display: block;
        padding: 20px 0;
        margin: 0;
        border-bottom: 1px solid #888C81;
        position: relative;
    }

    .nav_mobile a::before {
        content: "\25B7";
        color: #3D403A;
        font-size: 12.5px;
        position: absolute;
        right: 0;
        top: 25px;
    }

    .title h1 {
        font-size: 60px;
        -webkit-text-stroke: .75px #F2EFEB;
    }

    .footer_both {
        flex-wrap: wrap;
    }

    .footer_left {
        width: 100%;
    }

    .footer_right {
        border: none;
        padding: 0 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer_right ul {
        width: 100%;
    }

    .footer_right a {
        color: #F2EFEB;
        text-decoration: none;
        display: block;
        padding: 20px 0;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #888C81;
        position: relative;
    }

    .footer_right a::before {
        content: "\25B7";
        color: #F2EFEB;
        font-size: 12.5px;
        position: absolute;
        right: 0;
        top: 25px;
    }

}