@import url('reset.css');

body {
    background-color: #F2EFEB;
    font-family: 'Noto Sans TC';
    line-height: 1.5;
    letter-spacing: 1.5px;
}

/* ----------ranking---------- */

.ranking {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    padding: 0 30px;
}

.ranking i {
    color: #3D403A;
    font-size: 35px;
    -webkit-text-stroke: 2.25px #F2EFEB;
    position: absolute;
    top: 30%;
}

#backBtn {
    cursor: pointer;
    left: 10px;
}

#nextBtn {
    cursor: pointer;
    right: 10px;
}

.ranking ul {
    display: flex;
    margin: 0 10px;
    overflow-x: scroll;
}

.ranking ul::-webkit-scrollbar {
    display: none;
}

.ranking ul li {
    line-height: 0;
    width: 25%;
    margin: 0 10px;
    flex: none;
}

.ranking ul li a {
    display: block;
    position: relative;
}

.ranking ul li a::before {
    content: "";
    background-color: #F2EFEB;
    width: 27.5px;
    height: 27.5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ranking ul li a::after {
    content: "1";
    font-size: 20px;
    font-weight: 700;
    color: #3D403A;
    position: absolute;
    top: 11.5px;
    left: 7.5px;
    z-index: 2;
}

.ranking ul li:nth-of-type(2) a::after {
    content: "2";
}

.ranking ul li:nth-of-type(3) a::after {
    content: "3";
}

.ranking ul li:nth-of-type(4) a::after {
    content: "4";
}

.ranking ul li:nth-of-type(5) a::after {
    content: "5";
}

.ranking ul li img {
    width: 100%;
}

.backimage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    z-index: 0;
}

.backimage:hover {
    opacity: 1;
}

.product_content {
    text-align: left;
    line-height: 2;
    padding: 10px 0;
}

.product_content h4 {
    font-size: 17.5px;
    font-weight: 700;
    color: #3D403A;
}

.product_content h5 {
    font-size: 15px;
    color: #888C81;
}

.product_content p {
    font-weight: 700;
    text-align: right;
    color: #3D403A;
    padding-top: 10px;
}

/* ----------recommend_product---------- */

.recommend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.recommend a {
    width: 45%;
    margin: 0 20px 60px;
    box-sizing: border-box;
    text-decoration: none;
    flex-grow: 1;
}

.recommend img {
    width: 100%;
    display: block;
}

.recommend a img:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.recommend a img:nth-of-type(2):hover {
    opacity: 1;
}

.product_title {
    line-height: 2;
    padding: 10px 0;
}

.product_title h3 {
    font-size: 20px;
    font-weight: 700;
    color: #3D403A;
}

.product_title p {
    font-size: 15px;
    color: #888C81;
}

/* ----------cake---------- */

.cake01 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.cake_content {
    color: #3D403A;
    box-sizing: border-box;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.cake_content h3 {
    font-size: 20px;
    font-weight: 700;
}

.cake_content p {
    margin: 40px 0;
}

.cake_content a {
    display: block;
    color: #F2EFEB;
    background-color: #3D403A;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    width: 150px;
}

.cake_content a:hover {
    color: #888C81;
}

.cake02 {
    width: 42.5%;
    overflow: hidden;
    position: relative;
}

.cake02 img {
    width: 100%;
    display: block;
}

.cake02 :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.cake02 :nth-child(2):hover {
    opacity: 1;
}

/* ----------subscribe---------- */

.subscribe {
    text-align: center;
    line-height: 1.5;
    padding: 140px 0 180px;
}

.subscribe h5 {
    font-family: 'Noto Sans TC';
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #3D403A;
    -webkit-text-stroke: 1px #3D403A;
    letter-spacing: 2.5px;
}

.subscribe p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.subscribe input[type=text] {
    background-color: #D9C9BA;
    border: none;
    display: inline-block;
    width: 350px;
    padding: 13.5px;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.subscribe input[type=text]:focus {
    outline: none;
}

.subscribe input[type=submit] {
    color: #F2EFEB;
    background-color: #3D403A;
    border: none;
    display: inline-block;
    width: 125px;
    padding: 12.5px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.subscribe input[type=submit]:hover {
    color: #888C81;
}

/* ---------- rwd ---------- */

@media screen and (max-width: 414px) {

    .ranking ul li {
        width: 80%;
    }

    .ranking ul li a::after {
        top: 12.5px;
        left: 6.5px;
    }

    .cake_content {
        order: 2;
        width: 100%;
    }

    .cake_content p {
        margin: 30px 0 55px;
    }

    .cake_content a {
        width: 100%;
    }

    .cake02 {
        order: 1;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .subscribe {
        text-align: center;
        line-height: 1.5;
        padding: 140px 20px 220px;
    }

    .cake_content a {
        align-self: flex-end;
    }

    .subscribe h5 {
        font-size: 25px;
    }

    .subscribe p {
        font-size: 12.5px;
        text-align: center;
        margin: 10px 0 20px;
    }

    .subscribe input[type=submit]{
        margin-top: 10px;
    }

}